<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserChannelLabel" jhiTranslate="chatApp.userChannel.home.createOrEditLabel">Create or edit a User Channel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userChannel.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userChannel.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="chatApp.userChannel.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userChannel.userId"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="chatApp.userChannel.channel" for="field_channel">Channel</label>
            <select class="form-control" id="field_channel" name="channel" [(ngModel)]="userChannel.channelId"  required>
                <option *ngIf="!editForm.value.channel" [ngValue]="null" selected></option>
                <option [ngValue]="channelOption.id" *ngFor="let channelOption of channels; trackBy: trackChannelById">{{channelOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.channel?.dirty && editForm.controls.channel?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.channel?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="chatApp.userChannel.lastRead" for="field_lastRead">Last Read</label>
            <select class="form-control" id="field_lastRead" name="lastRead" [(ngModel)]="userChannel.lastReadId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="messageOption.id" *ngFor="let messageOption of messages; trackBy: trackMessageById">{{messageOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
